@import "../../style/variables.scss";
@import "../../style/mixins.scss";

.expenses { 
  background-color: $color-primary;
  flex-direction: column;
  margin: 5rem;
  min-width: 50rem;

  @media (min-width: 580px) {
    justify-content: center;
    align-items: center;
    margin: 5rem;
  }
}