.expenses {
    background-color: rgb(35, 35, 35);
    margin: 2rem auto;
    padding: 1rem;
    width: 50rem;
    max-width: 90%;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  }