@import "../../style/variables.scss";

.new-expense {
  background-color: $new-expense-background-color;
  padding: $new-expense-padding;
  margin: $new-expense-margin;
  width: $new-expense-width;
  max-width: $new-expense-max-width;
  border-radius: $new-expense-border-radius;
  text-align: $new-expense-text-align;
  box-shadow: $new-expense-box-shadow;

  button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #40005d;
    background-color: #40005d;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;

    &.alternative {
      color: #220131;
      border-color: transparent;
      background-color: transparent;

      &:hover,
      &:active {
        background-color: #ddb3f8;
      }
    }

    &:hover,
    &:active {
      background-color: #510674;
      border-color: #510674;
    }
  }

  @media (max-width: 500px) {
    width: 22rem;
    margin: 1rem;
    max-width: 90dvw;
  }
}
