// Dark Theme Colors
// COLORS
$color-primary: #1e1e1e;
$color-secondary: #2d2d2d;
$color-card: #6d6d6d;
$color-white: #ffffff;

// CHART

$chart-height: 10rem;
$chart-padding: 1rem;
$chart-border-radius: 12px;
$chart-background-color: #f8dfff;

// CHART-BAR

$chart-bar-height: 100%;
$chart-bar-inner-height: 100%;
$chart-bar-inner-width: 100%;
$chart-bar-fill-width: 100%;
$chart-bar-border-radius: 12px;
$chart-bar-border: 1px solid #313131;
$chart-bar-background-color: #c3b4f3;
$chart-bar-fill-background-color: #4826b9;
$chart-bar-fill-transition: all 0.3s ease-out;

// NEW EXPENSE
$new-expense-background-color: #a892ee;
$new-expense-padding: 1rem;
$new-expense-margin: 2rem auto;
$new-expense-width: 35rem;
$new-expense-max-width: 95vw;
$new-expense-border-radius: 12px;
$new-expense-text-align: center;
$new-expense-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
$new-expense-controls-display: flex;
$new-expense-controls-flex-wrap: wrap;
$new-expense-controls-gap: 1rem;
$new-expense-controls-margin-bottom: 1rem;
$new-expense-controls-text-align: left;
$new-expense-controls-align-items: center;
$new-expense-control-justify-content: center;

$new-expense-control-label-font-weight: bold;
$new-expense-control-label-margin-bottom: 0.5rem;
$new-expense-control-label-display: block;

$new-expense-control-input-font: inherit;
$new-expense-control-input-padding: 0.5rem;
$new-expense-control-input-border-radius: 6px;
$new-expense-control-input-border: 1px solid #ccc;
$new-expense-control-input-width: 20rem;
$new-expense-control-input-max-width: 100%;
$new-expense-actions-text-align: center;
